@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --pink: #eb0ead;
  --text: #001c31;
  --toastify-color-info: #eb0ead;
  --toastify-icon-color-info: var(--toastify-color-info);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--pink) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--pink);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 12px;
  border: 3px solid var(--background);
}

body {
  background-color: var(--background);
}

.background {
  background-image: url('/bg_logo.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

@media only screen and (max-width: 1024px) {
  .background {
    background-image: none;
  }
}

/*
	*
	* react-toastify styles
	*
	*/
.Toastify__toast-container {
  max-width: 1280px;
  width: auto;
}
.Toastify__toast-body {
  padding: 15px;
}
.Toastify__toast--success {
  font-size: 16px;
  color: var(--text);
}
.Toastify__toast--error {
  font-size: 16px;
  color: var(--text);
}
